<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="newspaper" color="primary"></ion-icon> Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of api.noticias" (click)="abrirNoticia(item.link)">
      <ion-thumbnail slot="end">
        <img [src]="item.enclosure.link">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
